rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {

    // Avatares: cada usuário só acessa o próprio
    match /avatars/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
